@import "settings";
@import "foundation";
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Sigmar+One|Rochester|Cabin+Sketch|Leckerli+One|Marck+Script|Sacramento|Lily+Script+One);


$background-color: #F0F7DF;
$accent-color: #4A9149;
$accent-color-unsaturated: #9EC49D;
$main-color: rgba(33,26,97,0.9);
$main-color-unsaturated: rgba(109,111,120,1);

$main-font-family: Lucidatypewriter, monospace;

@mixin button-custom {
  background: $main-color-unsaturated;
  border-radius: 3px;
  font-family: Lucidatypewriter, monospace;
  color: $main-color;
  width: 60vw;
}


button, .button.radius{
  @include button-custom;
    &:hover {
      background: $main-color;
      color: #F0F7DF;
  }
} 


body {
  background-image:url(../assets/images/skulls.png);
}

li {
    list-style-type: none;
}

textarea {
  width: 100%;
  resize: none;
}

.button-group {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  &:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 1rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 42.5%;
    top: 0.35rem;
  }
  button + button {
    margin-left: 5px;
  }
}

#app {
  margin: auto;
  margin-top: 10%;
}

#footer {
  position:absolute;
  right: 50px;
}
/*Code for the signup/login form*/

.signup-panel{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 60px;
  i{
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form{
    input, span{
    height: 50px;
  }
  
  }
  .welcome{
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  p{
    font-size: 13px;
    font-weight: 200;
  }
}

.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

/*End of signup/login form code*/

.grey {
  color: LightSlateGray;
}


h2{
    font-family: 'Rochester', cursive;
    color: $main-color;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.aboutTheProjectAndRules{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    overflow: auto;
    transition: height 3s;
}

#aboutBottom {
    background-color: $background-color;
    position: absolute;
    top: 29%;
    left: 0;
    right: 0;
    bottom: -1em;
    position: relative;
}

#aboutCover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(109,111,120,0.8);
}

.letterTriangle {
    font-size: 35px;
    position: absolute;
    height: 0px;
    width: 0px;
    top: 1px;
}

a.buttonAboutClose {
    color: $main-color;
    text-decoration: none; 
    font-family: 'Cabin Sketch', cursive;
    font-size: 2rem;
}

.credit {
    display: flex;
}

@media only screen and (max-width: 667px) {
    .credit {
        display:block
    }    
}

.credisTitle{
  font-family:'Cabin Sketch', cursive; ;
}


li {
    list-style-type: none;
}



#rulesBottomContentTitle, #aboutBottomContentTitle{
    color: $main-color;
    font-size: 30px;
    font-family: 'Cabin Sketch', cursive;
}


img.decodemtlLogo {
    width: 9rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}
