<a href="#"><button> Back to Main Menu </button></a>
<div class="row">
  <div class="small-12 columns">
    <div class="signup-panel">
      <p class="welcome"> Sign Up </p>
      <form>
        <div class="row collapse">
          <div class="small-12  columns">
            <input class="user" type="text" placeholder="username" autocomplete="on">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12  columns">
            <input class="email" type="text" placeholder="email" autocomplete="on">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12 columns ">
            <input class="password" type="password" placeholder="password (min. 8 characters)">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12 columns ">
            <input class="confirmPassword" type="password" placeholder="confirm password" required="" name="confirmPassword" data-invalid="">
          </div>
        </div>
      </form>
      <button class="signup">Sign Up! </button>
      <p>Already have an account? <a href="#login">Login here &raquo</a></p>
    </div>
  </div>
</div>